@font-face {
    font-family: "m-icons";
    /* Project id 3164377 */
    src: url('iconfont.woff2?t=1643271521594') format('woff2'), url('iconfont.woff?t=1643271521594') format('woff'), url('iconfont.ttf?t=1643271521594') format('truetype');
}

[class*='m-icon-'] {
    font-family: "m-icons" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.m-icon-document-remove:before {
    content: "\e67e";
}

.m-icon-dish:before {
    content: "\e67f";
}

.m-icon-edit:before {
    content: "\e680";
}

.m-icon-download:before {
    content: "\e681";
}

.m-icon-coin:before {
    content: "\e682";
}

.m-icon-female:before {
    content: "\e683";
}

.m-icon-edit-outline:before {
    content: "\e684";
}

.m-icon-files:before {
    content: "\e685";
}

.m-icon-film:before {
    content: "\e686";
}

.m-icon-error:before {
    content: "\e687";
}

.m-icon-eleme:before {
    content: "\e688";
}

.m-icon-coffee:before {
    content: "\e689";
}

.m-icon-folder-remove:before {
    content: "\e68a";
}

.m-icon-folder-checked:before {
    content: "\e68b";
}

.m-icon-folder-add:before {
    content: "\e68c";
}

.m-icon-folder-delete:before {
    content: "\e68d";
}

.m-icon-football:before {
    content: "\e68e";
}

.m-icon-finished:before {
    content: "\e68f";
}

.m-icon-folder:before {
    content: "\e690";
}

.m-icon-fork-spoon:before {
    content: "\e691";
}

.m-icon-first-aid-kit:before {
    content: "\e692";
}

.m-icon-goblet-full:before {
    content: "\e693";
}

.m-icon-food:before {
    content: "\e694";
}

.m-icon-folder-opened:before {
    content: "\e695";
}

.m-icon-full-screen:before {
    content: "\e696";
}

.m-icon-goblet-square-full:before {
    content: "\e697";
}

.m-icon-goblet:before {
    content: "\e698";
}

.m-icon-goblet-square:before {
    content: "\e699";
}

.m-icon-goods:before {
    content: "\e69a";
}

.m-icon-help:before {
    content: "\e69b";
}

.m-icon-headset:before {
    content: "\e69c";
}

.m-icon-house:before {
    content: "\e69d";
}

.m-icon-ice-cream-round:before {
    content: "\e69e";
}

.m-icon-hot-water:before {
    content: "\e69f";
}

.m-icon-heavy-rain:before {
    content: "\e6a0";
}

.m-icon-ice-drink:before {
    content: "\e6a1";
}

.m-icon-ice-cream:before {
    content: "\e6a2";
}

.m-icon-key:before {
    content: "\e6a3";
}

.m-icon-ice-cream-square:before {
    content: "\e6a4";
}

.m-icon-knife-fork:before {
    content: "\e6a5";
}

.m-icon-ice-tea:before {
    content: "\e6a6";
}

.m-icon-info:before {
    content: "\e6a7";
}

.m-icon-grape:before {
    content: "\e6a8";
}

.m-icon-light-rain:before {
    content: "\e6a9";
}

.m-icon-location-information:before {
    content: "\e6aa";
}

.m-icon-lock:before {
    content: "\e6ab";
}

.m-icon-location-outline:before {
    content: "\e6ac";
}

.m-icon-lightning:before {
    content: "\e6ad";
}

.m-icon-magic-stick:before {
    content: "\e6ae";
}

.m-icon-link:before {
    content: "\e6af";
}

.m-icon-lollipop:before {
    content: "\e6b0";
}

.m-icon-location:before {
    content: "\e6b1";
}

.m-icon-loading:before {
    content: "\e6b2";
}

.m-icon-male:before {
    content: "\e6b3";
}

.m-icon-menu:before {
    content: "\e6b4";
}

.m-icon-microphone:before {
    content: "\e6b5";
}

.m-icon-minus:before {
    content: "\e6b6";
}

.m-icon-message:before {
    content: "\e6b7";
}

.m-icon-map-location:before {
    content: "\e6b8";
}

.m-icon-message-solid:before {
    content: "\e6b9";
}

.m-icon-mic:before {
    content: "\e6ba";
}

.m-icon-milk-tea:before {
    content: "\e6bb";
}

.m-icon-medal:before {
    content: "\e6bc";
}

.m-icon-medal-:before {
    content: "\e6bd";
}

.m-icon-mobile:before {
    content: "\e6be";
}

.m-icon-mobile-phone:before {
    content: "\e6bf";
}

.m-icon-money:before {
    content: "\e6c0";
}

.m-icon-more:before {
    content: "\e6c1";
}

.m-icon-no-smoking:before {
    content: "\e6c2";
}

.m-icon-more-outline:before {
    content: "\e6c3";
}

.m-icon-notebook-:before {
    content: "\e6c4";
}

.m-icon-s-home:before {
    content: "\e6c5";
}

.m-icon-news:before {
    content: "\e6c6";
}

.m-icon-odometer:before {
    content: "\e6c7";
}

.m-icon-notebook-1:before {
    content: "\e6c8";
}

.m-icon-s-open:before {
    content: "\e6c9";
}

.m-icon-s-marketing:before {
    content: "\e6ca";
}

.m-icon-mouse:before {
    content: "\e6cb";
}

.m-icon-s-management:before {
    content: "\e6cc";
}

.m-icon-s-operation:before {
    content: "\e6cd";
}

.m-icon-office-building:before {
    content: "\e6ce";
}

.m-icon-open:before {
    content: "\e6cf";
}

.m-icon-ship:before {
    content: "\e6d0";
}

.m-icon-sell:before {
    content: "\e6d1";
}

.m-icon-search:before {
    content: "\e6d2";
}

.m-icon-service:before {
    content: "\e6d3";
}

.m-icon-scissors:before {
    content: "\e6d4";
}

.m-icon-shopping-bag-:before {
    content: "\e6d5";
}

.m-icon-orange:before {
    content: "\e6d6";
}

.m-icon-phone-outline:before {
    content: "\e6d7";
}

.m-icon-picture:before {
    content: "\e6d8";
}

.m-icon-receiving:before {
    content: "\e6d9";
}

.m-icon-phone:before {
    content: "\e6da";
}

.m-icon-picture-outline-round:before {
    content: "\e6db";
}

.m-icon-refresh-left:before {
    content: "\e6dc";
}

.m-icon-picture-outline:before {
    content: "\e6dd";
}

.m-icon-pie-chart:before {
    content: "\e6de";
}

.m-icon-s-data:before {
    content: "\e6df";
}

.m-icon-refrigerator:before {
    content: "\e6e0";
}

.m-icon-s-cooperation:before {
    content: "\e6e1";
}

.m-icon-s-check:before {
    content: "\e6e2";
}

.m-icon-s-flag:before {
    content: "\e6e3";
}

.m-icon-s-custom:before {
    content: "\e6e4";
}

.m-icon-s-fold:before {
    content: "\e6e5";
}

.m-icon-s-finance:before {
    content: "\e6e6";
}

.m-icon-remove-outline:before {
    content: "\e6e7";
}

.m-icon-s-comment:before {
    content: "\e6e8";
}

.m-icon-remove:before {
    content: "\e6e9";
}

.m-icon-refresh-right:before {
    content: "\e6ea";
}

.m-icon-school:before {
    content: "\e6eb";
}

.m-icon-s-shop:before {
    content: "\e6ec";
}

.m-icon-s-ticket:before {
    content: "\e6ed";
}

.m-icon-sort-up:before {
    content: "\e6ee";
}

.m-icon-star-on:before {
    content: "\e6ef";
}

.m-icon-success:before {
    content: "\e6f0";
}

.m-icon-sort:before {
    content: "\e6f1";
}

.m-icon-takeaway-box:before {
    content: "\e6f2";
}

.m-icon-stopwatch:before {
    content: "\e6f3";
}

.m-icon-thumb:before {
    content: "\e6f4";
}

.m-icon-tickets:before {
    content: "\e6f5";
}

.m-icon-turn-off-microphone:before {
    content: "\e6f6";
}

.m-icon-time:before {
    content: "\e6f7";
}

.m-icon-truck:before {
    content: "\e6f8";
}

.m-icon-user:before {
    content: "\e6f9";
}

.m-icon-user-solid:before {
    content: "\e6fa";
}

.m-icon-upload:before {
    content: "\e6fb";
}

.m-icon-video-camera-solid:before {
    content: "\e6fc";
}

.m-icon-video-play:before {
    content: "\e6fd";
}

.m-icon-video-camera:before {
    content: "\e6fe";
}

.m-icon-right:before {
    content: "\e6ff";
}

.m-icon-video-pause:before {
    content: "\e700";
}

.m-icon-star-off:before {
    content: "\e701";
}

.m-icon-trophy:before {
    content: "\e702";
}

.m-icon-wallet:before {
    content: "\e703";
}

.m-icon-watch:before {
    content: "\e704";
}

.m-icon-warning-outline:before {
    content: "\e705";
}

.m-icon-wind-power:before {
    content: "\e706";
}

.m-icon-view:before {
    content: "\e707";
}

.m-icon-watermelon:before {
    content: "\e708";
}

.m-icon-share:before {
    content: "\e709";
}

.m-icon-set-up:before {
    content: "\e70a";
}

.m-icon-zoom-in:before {
    content: "\e70b";
}

.m-icon-water-cup:before {
    content: "\e70c";
}

.m-icon-warning:before {
    content: "\e70d";
}

.m-icon-watch-:before {
    content: "\e70e";
}

.m-icon-setting:before {
    content: "\e70f";
}

.m-icon-plus:before {
    content: "\e710";
}

.m-icon-zoom-out:before {
    content: "\e711";
}

.m-icon-place:before {
    content: "\e712";
}

.m-icon-pear:before {
    content: "\e713";
}

.m-icon-partly-cloudy:before {
    content: "\e714";
}

.m-icon-paperclip:before {
    content: "\e715";
}

.m-icon-platform-eleme:before {
    content: "\e716";
}

.m-icon-s-claim:before {
    content: "\e717";
}

.m-icon-s-goods:before {
    content: "\e718";
}

.m-icon-s-grid:before {
    content: "\e719";
}

.m-icon-s-help:before {
    content: "\e71a";
}

.m-icon-shopping-bag-1:before {
    content: "\e71b";
}

.m-icon-shopping-cart-:before {
    content: "\e71c";
}

.m-icon-shopping-cart-1:before {
    content: "\e71d";
}

.m-icon-smoking:before {
    content: "\e71e";
}

.m-icon-shopping-cart-full:before {
    content: "\e71f";
}

.m-icon-soccer:before {
    content: "\e720";
}

.m-icon-s-promotion:before {
    content: "\e721";
}

.m-icon-sort-down:before {
    content: "\e722";
}

.m-icon-s-release:before {
    content: "\e723";
}

.m-icon-s-opportunity:before {
    content: "\e724";
}

.m-icon-s-order:before {
    content: "\e725";
}

.m-icon-s-tools:before {
    content: "\e726";
}

.m-icon-sold-out:before {
    content: "\e727";
}

.m-icon-s-platform:before {
    content: "\e728";
}

.m-icon-suitcase:before {
    content: "\e729";
}

.m-icon-suitcase-:before {
    content: "\e72a";
}

.m-icon-sugar:before {
    content: "\e72b";
}

.m-icon-refresh:before {
    content: "\e72c";
}

.m-icon-sunset:before {
    content: "\e72d";
}

.m-icon-sunrise-:before {
    content: "\e72e";
}

.m-icon-sunrise:before {
    content: "\e72f";
}

.m-icon-top-left:before {
    content: "\e730";
}

.m-icon-switch-button:before {
    content: "\e731";
}

.m-icon-toilet-paper:before {
    content: "\e732";
}

.m-icon-table-lamp:before {
    content: "\e733";
}

.m-icon-add-location:before {
    content: "\e634";
}

.m-icon-tableware:before {
    content: "\e734";
}

.m-icon-aim:before {
    content: "\e635";
}

.m-icon-top-right:before {
    content: "\e735";
}

.m-icon-back:before {
    content: "\e636";
}

.m-icon-top:before {
    content: "\e736";
}

.m-icon-arrow-left:before {
    content: "\e637";
}

.m-icon-turn-off:before {
    content: "\e737";
}

.m-icon-attract:before {
    content: "\e638";
}

.m-icon-monitor:before {
    content: "\e738";
}

.m-icon-arrow-right:before {
    content: "\e639";
}

.m-icon-unlock:before {
    content: "\e739";
}

.m-icon-arrow-up:before {
    content: "\e63a";
}

.m-icon-postcard:before {
    content: "\e73a";
}

.m-icon-alarm-clock:before {
    content: "\e63b";
}

.m-icon-umbrella:before {
    content: "\e73b";
}

.m-icon-arrow-down:before {
    content: "\e63c";
}

.m-icon-moon:before {
    content: "\e73c";
}

.m-icon-apple:before {
    content: "\e63d";
}

.m-icon-present:before {
    content: "\e73d";
}

.m-icon-bangzhu:before {
    content: "\e63e";
}

.m-icon-position:before {
    content: "\e73e";
}

.m-icon-bell:before {
    content: "\e63f";
}

.m-icon-price-tag:before {
    content: "\e73f";
}

.m-icon-bottom-right:before {
    content: "\e640";
}

.m-icon-potato-strips:before {
    content: "\e740";
}

.m-icon-box:before {
    content: "\e641";
}

.m-icon-printer:before {
    content: "\e741";
}

.m-icon-brush:before {
    content: "\e642";
}

.m-icon-sunny:before {
    content: "\e742";
}

.m-icon-bank-card:before {
    content: "\e643";
}

.m-icon-moon-night:before {
    content: "\e743";
}

.m-icon-bottom-left:before {
    content: "\e644";
}

.m-icon-reading:before {
    content: "\e744";
}

.m-icon-bicycle:before {
    content: "\e645";
}

.m-icon-rank:before {
    content: "\e745";
}

.m-icon-baseball:before {
    content: "\e646";
}

.m-icon-question:before {
    content: "\e746";
}

.m-icon-caret-left:before {
    content: "\e647";
}

.m-icon-s-unfold:before {
    content: "\e747";
}

.m-icon-camera-solid:before {
    content: "\e648";
}

.m-icon-upload1:before {
    content: "\e748";
}

.m-icon-caret-right:before {
    content: "\e649";
}

.m-icon-timer:before {
    content: "\e749";
}

.m-icon-caret-top:before {
    content: "\e64a";
}

.m-icon-guide:before {
    content: "\e74a";
}

.m-icon-caret-bottom:before {
    content: "\e64b";
}

.m-icon-trophy-1:before {
    content: "\e74b";
}

.m-icon-basketball:before {
    content: "\e64c";
}

.m-icon-burger:before {
    content: "\e64d";
}

.m-icon-bottom:before {
    content: "\e64e";
}

.m-icon-c-scale-to-original:before {
    content: "\e64f";
}

.m-icon-camera:before {
    content: "\e650";
}

.m-icon-chat-dot-round:before {
    content: "\e651";
}

.m-icon-check:before {
    content: "\e652";
}

.m-icon-chat-line-square:before {
    content: "\e653";
}

.m-icon-chat-round:before {
    content: "\e654";
}

.m-icon-chat-dot-square:before {
    content: "\e655";
}

.m-icon-chat-line-round:before {
    content: "\e656";
}

.m-icon-chat-square:before {
    content: "\e657";
}

.m-icon-circle-check:before {
    content: "\e658";
}

.m-icon-circle-close:before {
    content: "\e659";
}

.m-icon-chicken:before {
    content: "\e65a";
}

.m-icon-circle-plus-outline:before {
    content: "\e65b";
}

.m-icon-circle-plus:before {
    content: "\e65c";
}

.m-icon-close-notification:before {
    content: "\e65d";
}

.m-icon-close:before {
    content: "\e65e";
}

.m-icon-cloudy-and-sunny:before {
    content: "\e65f";
}

.m-icon-cherry:before {
    content: "\e660";
}

.m-icon-coffee-cup:before {
    content: "\e661";
}

.m-icon-cloudy:before {
    content: "\e662";
}

.m-icon-collection-tag:before {
    content: "\e663";
}

.m-icon-cold-drink:before {
    content: "\e664";
}

.m-icon-collection:before {
    content: "\e665";
}

.m-icon-coordinate:before {
    content: "\e666";
}

.m-icon-connection:before {
    content: "\e667";
}

.m-icon-crop:before {
    content: "\e668";
}

.m-icon-cpu:before {
    content: "\e669";
}

.m-icon-copy-document:before {
    content: "\e66a";
}

.m-icon-d-caret:before {
    content: "\e66b";
}

.m-icon-d-arrow-right:before {
    content: "\e66c";
}

.m-icon-data-board:before {
    content: "\e66d";
}

.m-icon-data-analysis:before {
    content: "\e66e";
}

.m-icon-data-line:before {
    content: "\e66f";
}

.m-icon-d-arrow-left:before {
    content: "\e670";
}

.m-icon-delete-solid:before {
    content: "\e671";
}

.m-icon-delete-location:before {
    content: "\e672";
}

.m-icon-discount:before {
    content: "\e673";
}

.m-icon-date:before {
    content: "\e674";
}

.m-icon-dessert:before {
    content: "\e675";
}

.m-icon-dish:before {
    content: "\e676";
}

.m-icon-delete:before {
    content: "\e677";
}

.m-icon-document-copy:before {
    content: "\e678";
}

.m-icon-document:before {
    content: "\e679";
}

.m-icon-discover:before {
    content: "\e67a";
}

.m-icon-document-add:before {
    content: "\e67b";
}

.m-icon-document-checked:before {
    content: "\e67c";
}

.m-icon-document-delete:before {
    content: "\e67d";
}